{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='page page--background'>
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Вхід</h1>

        <div class="form">
            <div class="form__item">
                {{> field action="signupForm.change" name="email" placeholder="mail@gmail.com" type="email" label="Ел.
                адреса"}}
                <span name="email" class="form__error">Помилка</span>
            </div>

            <div class="form__item">
                {{>field-password action="signupForm.change" name="password" label="Пароль"
                placeholder="password"}}

                <span name="password" class="form__error">Помилка</span>
            </div>

        </div>
        <button class="button button--disabled" onclick="signupForm.submit()" type="button">Увійти</button>
        <span class="alert alert--disabled">Увага, помилка!</span>
        <span class="link__prefix">Забули пароль? <a class="link" href="/recovery">Відновити</a></span>
    </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}